<footer class="site-footer height-50vh bg-color-main-light col-flex">
    <div class="footer-container disp-flex alg-flex just-flex height-80">

        <div class="p-4 text-alg">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, consequuntur.</p>
            <p>Tel No: 00000000000</p>
            <p>info</p>
        </div>
        <div class="height-50 liner color-main-dark"></div>
        <div class="p-4 text-alg">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, consequuntur.</p>
            <p>Tel No: 00000000000</p>
            <p>info</p>
        </div>
        <div class="height-50 liner color-main-dark"></div>
        <div class="p-4 text-alg">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, consequuntur.</p>
            <p>Tel No: 00000000000</p>
            <p>info</p>
        </div>

    </div>

    <div class="footer-links disp-flex width-100 alg-flex just-flex">

        <a class="pl-1 pr-1" href="/">Ana Sayfa</a>
        <div class="border height-80"></div>
        <a class="pl-1 pr-1" href="/anaokulu/">Anaokulu</a>
        <div class="border height-80"></div>
        <a class="pl-1 pr-1" href="/gunduz-bakim-evi/">Gündüz Bakım Evi</a>
        <div class="border height-80"></div>
        <a class="pl-1 pr-1" href="/">Ana Sayfa</a>
        <div class="border height-80"></div>
        <a class="pl-1 pr-1" href="/anaokulu/">Anaokulu</a>
        <div class="border height-80"></div>
        <a class="pl-1 pr-1" href="/gunduz-bakim-evi/">Gündüz Bakım Evi</a>

    </div>

    <div class="footer-copy width-100 p-1 disp-grid cent-grid color-alt-light">
            © {% now "Y" %} Denizli Yeni Nesil • Tüm hakları saklıdır.
    </div>
</footer>
