<header class="site-header width-100 bg-color-main-mid p-1">
    <div class="header-container">

        <a href="/" class="logo">
            <div class="logo-box">D</div>
            <div>
                <div class="logo-title">Denizli Yeni Nesil</div>
                <div class="logo-sub">Çocuk Bakım Evi</div>
            </div>
        </a>

        <nav class="header-nav  color-alt-light">
            <a href="/">Ana Sayfa</a>
            <a href="/anaokulu/">Anaokulu</a>
            <a href="/gunduz-bakim-evi/">Gündüz Bakım Evi</a>
            <a href="/anaokulu/">Hakkımızda</a>
        </nav>

    </div>
</header>
