{% extends "base.html" %}

{% block title %}Gündüz Bakım Evi | Denizli Yeni Nesil{% endblock %}

{% block content %}
<section class="section height-100vh slider-container"></section>
<section class="slogan-container height-10vh bg-color-main-mid disp-grid cent-grid">
    <h2 class="width-100 text-alg">Lorem ipsum dolor sit, amet</h2>
</section>
<section class="height-80vh width-100 disp-grid cent-grid">
    <div class="container width-80 height-100 disp-flex alg-flex just-flex">
        <div class="card-desing-1 height-50 width-30 m-3 border color-main-dark"></div>
        <div class="card-desing-1 height-50 width-30 m-3 border color-main-dark"></div>
        <div class="card-desing-1 height-50 width-30 m-3 border color-main-dark"></div>
        <div class="card-desing-1 height-50 width-30 m-3 border color-main-dark"></div>
    </div>
</section>
<section class="height-80vh disp-grid cent-grid">
    <div class="height-80 disp-flex alg-flex just-flex">
        <div class="text-box text-right p-1 m-3 color-main-dark width-30">
            <h4>VİZYON</h4>
            <p>Lorem ipsum dolor, sit amet consectetur 
                minus sequi libero explicabo nulla facere, 
                aliquid ipsa id minima repellat, odit voluptatem 
                iste et! Architecto eveniet provident doloribus 
                corporis labore numquam necessitatibus facere 
                laudantium enim! Rem esse voluptatem ut a ab. 
                Id architecto magnam laboriosam vel? Facilis.</p>
        </div> 
        <div class="liner height-80 color-main-dark"></div>  
        <div class="text-box text-left p-1 m-3 color-main-dark width-30">
            <h4>MİSYON</h4>
            <p>Lorem ipsum dolor, sit amet consectetur 
                minus sequi libero explicabo nulla facere, 
                aliquid ipsa id minima repellat, odit voluptatem 
                iste et! Architecto eveniet provident doloribus 
                corporis labore numquam necessitatibus facere 
                laudantium enim! Rem esse voluptatem ut a ab. 
                Id architecto magnam laboriosam vel? Facilis.</p>
        </div> 
    </div>
</section>
<section class="height-50vh bg-color-main-mid disp-grid cent-grid">
    
    <div class="width-80 height-100 disp-flex alg-flex just-flex">

        <a class="width-10 height-30 color-alt-light border m-1" href="#">
            <div class=""></div>
        </a>
        <a class="width-10 height-30 color-alt-light border m-1" href="#">
            <div class=""></div>
        </a>
        <a class="width-10 height-30 color-alt-light border m-1" href="#">
            <div class=""></div>
        </a>
        <a class="width-10 height-30 color-alt-light border m-1" href="#">
            <div class=""></div>
        </a>
        <a class="width-10 height-30 color-alt-light border m-1" href="#">
            <div class=""></div>
        </a>
        <a class="width-10 height-30 color-alt-light border m-1" href="#">
            <div class=""></div>
        </a>
        <a class="width-10 height-30 color-alt-light border m-1" href="#">
            <div class=""></div>
        </a>
        <a class="width-10 height-30 color-alt-light border m-1" href="#">
            <div class=""></div>
        </a>
    </div>
</section>

<section class="height-50vh width-100 bg-color-alt-light color-main-dark disp-grid cent-grid">

    <h3 class="width-30 height-30 text-alg">Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. 
        Blanditiis dolore autem porro 
        quod, modi architecto aspernatur 
        itaque nobis quibusdam, doloribus 
        corrupti minus excepturi quidem. 
        Iure.
    </h3>

</section>
{% endblock %}