<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Denizli Yeni Nesil{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <section class="section height-100vh">
        <div class="content-cont width-100 color-alt-dark">
            <h2 class="mt-1 mb-1">Denizli Yeninesil</h2>
            <h3 class="mt-1 mb-1">Belki bir slogan da buraya</h3>
            <h4 class="mt-1 mb-1">slogan buraya</h4>
        </div>
        <div class="img-cont">
            <img class="img-landing" src="../static/bgimg.png" alt="">
            <div class="card-holder width-80 height-50">
                <a class="height-100 width-30 card-button" href="/gunduz-bakim-evi/">
                    <div class="card-1 glass height-100 width-100">
                        <div class="card-img-cont width-100">
                            <img class="card-img" src="../static/robot.png" alt="">
                        </div>
                        <div class="card-content-cont pb-2 color-main-dark width-100">
                            <h2 class="text-alg mb-1 mt-1">Gündüz Bakım Evi</h2>
                            <h3 class="text-alg mb-1 mt-1">3-5 Yaş Arası</h3>
                            <h4 class="text-alg mb-1 mt-1">
                                Oyun tabanlı öğrenme, yaratıcı keşifler ve sosyal gelişim.
                            </h4>
                            <button class="nav-button width-80 color-main-dark mt-2">Deneme</button>
                        </div>
                    </div>
                </a>
                <a class="height-100 width-30 card-button" href="/anaokulu/">
                    <div class="card-1 glass height-100 width-100">
                        <div class="card-img-cont width-100">
                            <img class="card-img" src="../static/robotakademik.png" alt="">
                        </div>
                        <div class="card-content-cont pb-2 color-main-dark width-100">
                            <h2 class="text-alg mb-1 mt-1">Anaokulu</h2>
                            <h3 class="text-alg mb-1 mt-1">5-6 Yaş Arası</h3>
                            <h4 class="text-alg mb-1 mt-1">
                                Erken akademik gelişim, okula hazırlık. Özgüven gelişimi
                            </h4>
                            <button class="width-80 nav-button color-main-dark mt-2">Deneme</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="contacts-holder width-50 bg-color-main-dark p-1">
            <div class="social">
                <a class="m-2" href="https://www.instagram.com/denizli_yeninesil">
                    <div class="insta p-3 bg-color-alt-light color-main-dark"> <p>İnstagram</p> </div>
                </a>
                <a class="m-2" href="https://www.facebook.com/p/Yeni-Nesil-E%C4%9Fitim-Kurumlar%C4%B1-100068498277136/">
                    <div class="face p-3 bg-color-alt-light color-main-dark">facebook</div>
                </a>
            </div>
            <div class="adress color-main-light">
                <p class="p-1">Hacıkaplanlar Mah. 712/1 sok. Ezgi Apt. no: 15/A Pamukkale / DENİZLİ </p>
            </div>
            <div class="phone">
                <a class="p-2 m-2 bg-color-alt-light color-main-dark" href="tel:05324966686">0532 496 6686</a>
                <a class="p-2 m-2 bg-color-alt-light color-main-dark" href="tel:05055884351">0505 588 4351</a>
            </div>
        </div>
    </section>
</body>
</html>