<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Denizli Yeni Nesil{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <section class="section height-100">
        <div class="content-cont width-100 color-alt-dark">
            <h2>Denizli Yeninesil</h2>
            <h3>Belki bir slogan da buraya</h3>
            <h4>slogan buraya</h4>
        </div>
        <div class="img-cont">
            <img class="img-landing" src="../static/bgimg.png" alt="">
            <div class="card-holder width-80 height-50">
                <a class="height-100 width-30" href="/gunduz-bakim-evi/">
                    <div class="card-1 glass height-100 width-100">
                        <div class="card-img-cont width-100">
                            <img class="card-img" src="../static/robot.png" alt="">
                        </div>
                        <div class="card-content-cont pb-2 color-main-dark width-100">
                            <h2 class="text-alg">Gündüz Bakım Evi</h2>
                            <h3 class="text-alg">3-5 Yaş Arası</h3>
                            <h4 class="text-alg">
                                Oyun tabanlı öğrenme, yaratıcı keşifler ve sosyal gelişim.
                            </h4>
                            <button class="width-80 color-main-dark mt-2">Deneme</button>
                        </div>
                    </div>
                </a>
                <a class="height-100 width-30" href="/anaokulu/">
                    <div class="card-1 glass height-100 width-100">
                        <div class="card-img-cont width-100">
                            <img class="card-img" src="../static/robotakademik.png" alt="">
                        </div>
                        <div class="card-content-cont pb-2 color-main-dark width-100">
                            <h2 class="text-alg">Anaokulu</h2>
                            <h3 class="text-alg">5-6 Yaş Arası</h3>
                            <h4 class="text-alg">
                                Erken akademik gelişim, okula hazırlık. Özgüven gelişimi
                            </h4>
                            <button class="width-80 color-main-dark mt-2">Deneme</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>
</html>